---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<div class="project">
  {
    projects.map((project) => (
      <a
        href={`${project.collection}/${project.slug}`}
        rel="noreferer"
        class="project__item"
      >
        <div class="mb-2">
          {/* {JSON.stringify(project.data)} */}
          {project.data.logo ? (
            <Image
              src={project.data.logo}
              alt={project.data.title}
              width={192}
              height={192}
              class="size-8 object-cover rounded-md"
            />
          ) : (
            <div class="size-8 bg-orange-600 rounded-md flex items-center justify-center" />
          )}
        </div>
        <div class="h-[76px]">
          <h3 class="block text-lg mb-1 font-semibold">{project.data.title}</h3>
          <p class="font-normal text-muted-foreground line-clamp-2">
            {project.data.short_description}
          </p>
        </div>
      </a>
    ))
  }
</div>
